<nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="/home">Port<span>folio</span></a></div>
            <ul class="navmenu">
                <li><a href="/home" class="navmenubtn">Home</a></li>
                <li><a href="/projects" class="navmenubtn">Projects</a></li>
                <li><a href="/aboutme" class="navmenubtn">About Me</a></li>
                <li><a href="/contactme" class="navmenubtn">Contact Me</a></li>
            </ul>
            <div class="navmenubtn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>

