<section class="aboutme" id="aboutme">
        <div class="max-width">
            <h2 class="title">About me</h2>
            <div class="aboutme-content">
                <div class="column left">
                    <img src="/images/profile.jpeg" alt="">
                </div>
                <div class="column right">
                    <div class="text">Hey there, I am Lovepreet Singh Sandhu</div>
                    <p>I am a student at Conestoga College and am studying Mobile Solution Development. This is my portfolio website to showcase my future projects. I am open to make nano projects. You can reach out to me on links provided or Contact Me form</p>
                    <a href="/contactme">Contact Me</a>
                    <ul>
                    <li><a href="https://github.com/TheLaddiSandhu"><i class="fab fa-github"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/theladdisandhu/"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
            </div>
        </div>
    </section>