 <section class="projects" id="projects">
        <div class="max-width">
            <h2 class="title">Projects</h2>
            <div class="projects-content">
                <div class="card">
                    <div class="box">
                        <i class="fas fa-paint-brush"></i>
                        <div class="text">Web Designing Projects</div>
                        <p>These are the projects that i have made using HTML, CSS, JAVASCRIPT, NODE, EXPRESS, PHP</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fas fa-code"></i>
                        <div class="text">Application Designing Projects</div>
                        <p>These are the projects i made for Iphone and Android using Android Studio and Xcode</p>
                    </div>
                </div>
               </div>
            </div>
        </div>
    </section>